data/postgres_data/*
data/pgadmin_data/*
data/raw_data/*
homeworks/*
keys/*

# python environment and env variables
env/*
*.env

# mac specifics
.DS_Store

# vscode specifics
.vscode

# keep repo folder structure
!.gitkeep
